@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700|Nunito:600');

.container {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid orange; */
    border-radius: 1rem;
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.1)
    );
    backdrop-filter: blur(21px);
    -webkit-backdrop-filter: blur(21px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.36);
    border: 1px solid rgba(255, 255, 255, 0.16);
    border-radius: 24px;
}

.image {
    position: relative;
    bottom: 15%;
}

.link {
    text-decoration: none;
}

h3 {
    position: relative;
    bottom: 70%;
    color: white;
    font-size: 15px;
}

.containerTypes {
    position: relative;
    display: flex;
    bottom: 15%;
}

.type {
    width: 100%;
    border: 1px solid orange;
    padding: 8px 5px 10px 5px;
    margin: 0 10px 0 10px;
    border-radius: 0.5rem;
}


span {
    font-size: 11.5px;
    color: white;
}

.grass {
    border: 1px solid green;
}

.fire {
    border: 1px solid orange;
}

.electric {
    border: 1px solid yellow;
}

.normal {
    border: 1px solid white;
}

.poison {
    border: 1px solid rgb(236, 14, 236);
}

.water {
    border: 1px solid blue;
}

.flying {
    border: 1px solid cornflowerblue;
}

.bug {
    border: 1px solid greenyellow;
}

.fighting {
    border: 1px solid orangered;
}

.ground {
    border: 1px solid brown;
}

.rock {
    border: 1px solid rgb(117, 24, 24);
}

.ghost {
    border: 1px solid rgb(88, 4, 88);
}

.steel {
    border: 1px solid rgb(95, 95, 95);
}

.psychic {
    border: 1px solid rgb(240, 145, 240);
}

.ice {
    border: 1px solid rgb(134, 171, 240);
}

.dragon {
    border: 1px solid rgb(153, 7, 153);
}

.dark {
    border: 1px solid rgb(70, 14, 14)
}

.fairy {
    border: 1px solid rgb(230, 107, 230);
}

