.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0.8rem;
    border: 1px solid white;
    border-radius: .4rem;
}

.searchInput {
    position: absolute;
    background: transparent;
    border: none;
    padding: 10px;
    z-index: 0;
    color: white;
    font-size: 15px;
}

.icon {
    font-size: 20px;
    cursor: pointer;
    z-index: 1;
    margin-right: .5rem;
}

.searchInput:focus {
    border: none;   
}